<ion-view title="{{vm.title}}" ng-controller="FilterController as vm">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a ng-click="vm.applyFilter()" href="#" class="button icon-left ion-ios-color-filter"></a>
        <a ng-click="vm.clearFilter()" href="#" class="button icon-left ion-waterdrop"></a>
    </ion-nav-buttons>

    <ion-content>

        <label class="item item-input">
            <input type="text" ng-model="vm.selectval.SRNo" placeholder="SRNo">
        </label>
        <label class="item item-input">
            <input type="text" ng-model="vm.selectval.SupplierRefNo" placeholder="Supplier Ref No">
        </label>
    

        <fancy-select header-text="Categories" allow-empty='true' value="vm.selectval.Categories" text="vm.selecttext.Category" items="vm.categories" multi-select="true">
        </fancy-select>

        <fancy-select header-text="Design" allow-empty='true' value="vm.selectval.Design" text="vm.selecttext.Design" items="vm.designs" multi-select="true">
        </fancy-select>

        <fancy-select header-text="Design Group" allow-empty='true' value="vm.selectval.DesignGroups" text="vm.selecttext.DesignGroup" items="vm.designgroups" multi-select="true">
        </fancy-select>

        <fancy-select header-text="Item Type" allow-empty='true' value="vm.selectval.ItemTypes" text="vm.selecttext.ItemType" items="vm.itemtypes" multi-select="true">
        </fancy-select>

        <fancy-select header-text="Location" allow-empty='true' value="vm.selectval.Locations" text="vm.selecttext.Location" items="vm.locations" multi-select="true">
        </fancy-select>

        <fancy-select header-text="Sub Category" allow-empty='true' value="vm.selectval.SubCategories" text="vm.selecttext.SubCategory" items="vm.subcategories" multi-select="true">
        </fancy-select>


        <div class="row row-no-padding">
            <div class="col col50">
                <label class="item item-input">
                    <input type="number" ng-model="vm.selectval.MinTagPrice" placeholder="Min Price">
                </label>
            </div>
            <div class="col col50">
                <label class="item item-input">
                    <input type="number" ng-model="vm.selectval.MaxTagPrice" placeholder="Max Price">
                </label>
            </div>
        </div>

        <div class="row row-no-padding">
            <div class="col col50">
                <label class="item item-input">
                    <input type="number" ng-model="vm.selectval.MinWeight" placeholder="Min Diamond Weight">
                </label>
            </div>
            <div class="col col50">
                <label class="item item-input">
                    <input type="number" ng-model="vm.selectval.MaxWeight" placeholder="Max Diamond Weight">
                </label>
            </div>
        </div>

    </ion-content>
    <ion-footer-bar class="bar-stable">
        <div class="title title-center header-item"><img src="img/customer-logo.png" width="100px" style="padding-top:8px"> </div>
    </ion-footer-bar>


</ion-view>